<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="false">
    <listeners>
        <listener class-name="automation.utils.RetryListener"/>
    </listeners>
    <test name="RegressionTests">
        <classes>
            <class name="com.automation.tests.RegisterTests"/>

        </classes>
    </test>
</suite>
